# We can't remove volumes in a compose override, for the test configuration using the final containers
# we don't want the volumes so this is the default override file to add the volumes in the dev case
# any override will need to include these volumes to use them.
# see:  https://github.com/docker/compose/issues/3729
---
services:
  guacamole-preparation:
    image: guacamole/guacamole
    entrypoint: [ "bash", "-c", "/opt/guacamole/bin/initdb.sh --postgresql > /tmp/init/initdb.sql"]
    user: "0"  # This sets the user to root (user ID 0), as I could not figure out way around exporting initdb.sql to a names volume
    volumes:
      - "guac_init:/tmp/init"
    restart: on-failure
  guacamole:
    image: guacamole/guacamole
    ports:
      - "8081:8080"
    environment:
      GUACD_HOSTNAME: guacd
      POSTGRES_DB: guacamole_db
      POSTGRES_HOSTNAME: db-guac
      POSTGRES_PASSWORD: changeme
      POSTGRES_USER: nautobot
      # LOGBACK_LEVEL: debug
    env_file:
      - "development.env"
      - "creds.env"
    depends_on:
    - guacd
  guacd:
    image: "guacamole/guacd"
    volumes:
    - ./drive:/drive:rw
    - ./record:/record:rw
    ports:
      - "4822:4822"
    env_file:
      - "development.env"
      - "creds.env"
    depends_on:
    - db-guac
  nautobot:
    command: "nautobot-server runserver 0.0.0.0:8080"
    ports:
      - "8080:8080"
    volumes:
      - ${DOCKER_HOST:-/var/run/docker.sock}:/var/run/docker.sock
      - "./nautobot_config.py:/opt/nautobot/nautobot_config.py"
      - "../:/source"
    healthcheck:
      interval: "30s"
      timeout: "10s"
      start_period: "60s"
      retries: 3
      test: ["CMD", "true"]  # Due to layering, disable: true won't work. Instead, change the test
  docs:
    entrypoint: "mkdocs serve -v -a 0.0.0.0:8080"
    ports:
      - "8001:8080"
    volumes:
      - "../:/source"
    image: "containerlab/nautobot:${NAUTOBOT_VER}-py${PYTHON_VER}"
    healthcheck:
      disable: true
    tty: true
  worker:
    entrypoint:
      - "sh"
      - "-c"  # this is to evaluate the $NAUTOBOT_LOG_LEVEL from the env
      - "watchmedo auto-restart --directory './' --pattern '*.py' --recursive -- nautobot-server celery worker -l $$NAUTOBOT_LOG_LEVEL --events"  ## $$ because of docker-compose
    volumes:
      - ${DOCKER_HOST:-/var/run/docker.sock}:/var/run/docker.sock
      - "./nautobot_config.py:/opt/nautobot/nautobot_config.py"
      - "../:/source"
    healthcheck:
      test: ["CMD", "true"]  # Due to layering, disable: true won't work. Instead, change the test
  beat:
    entrypoint:
      - "sh"
      - "-c"  # this is to evaluate the $NAUTOBOT_LOG_LEVEL from the env
      - "watchmedo auto-restart --directory './' --pattern '*.py' --recursive -- nautobot-server celery beat -l $$NAUTOBOT_LOG_LEVEL"  ## $$ because of docker-compose
    volumes:
      - "./nautobot_config.py:/opt/nautobot/nautobot_config.py"
      - "../:/source"

  db-guac:
    image: "postgres:9.6.9"
    container_name: postgres_guacamole_compose
    environment:
      PGDATA: /var/lib/postgresql/guac_data/guacamole
      POSTGRES_DB: guacamole_db
      POSTGRES_USER: nautobot
      POSTGRES_PASSWORD: changeme
    restart: always
    depends_on:
    - guacamole-preparation
    volumes:
    - "guac_data:/var/lib/postgresql/data"
    - guac_init:/docker-entrypoint-initdb.d:ro
    - postgres_data:/var/lib/postgresql/data:rw

volumes:
  guac_data: {}
  record: {}
  drive: {}
  postgres_data: {}
  guac_init: {}

# To expose postgres or redis to the host uncomment the following
# postgres:
#   ports:
#     - "5432:5432"
# redis:
#   ports:
#     - "6379:6379"
