
{% extends 'generic/object_retrieve.html' %}
{% load helpers %}
{% load static %}

{% block content_left_page %}
    <script type="text/javascript" src="{% static 'nautobot_containerlab/mermaid-10.9.1/mermaid.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'nautobot_containerlab/guac.js' %}"></script>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Topology</strong>
        </div>
        <table class="table table-hover panel-body attr-table">
            <tr>
                <td>Name</td>
                <td>
                    {{ object.name }}
                </td>
            </tr>
            <tr>
                <td>Description</td>
                <td>
                    {{ object.description|placeholder }}
                </td>
            </tr>
            <tr>
                <td>DynamicGroup</td>
                <td>
                    {{ object.dynamic_group | hyperlinked_object }}
                </td>
            </tr>
            <tr>
                <td>Custom Topology Template</td>
                <td>
                    {{ object.custom_template | placeholder }}
                </td>
            </tr>
        </table>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Topology Diagram</strong>
        </div>
        <table class="table table-hover panel-body attr-table">
            <tr>
                <td>
                    <pre class="mermaid">
                        {{ object.generate_mermaid_diagram }}
                    </pre>
                </td>
            </tr>
        </table>
        <script type="module">
            mermaid.initialize({ startOnLoad: true });
        </script>
    </div>
{% endblock content_left_page %}

{% block content_right_page %}
    {% with object.validate_topology_file as validate %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Connection Portal</strong>
            </div>
            <table class="table table-hover panel-body attr-table">
            {% for device in object.dynamic_group.members %}
            <tr>
                <td>
                    {{ device | hyperlinked_object }}
                </td>
                <td>
                    <a href="#" 
                       class="connect-icon"
                       data-create-url="{% url 'plugins-api:containerlab-api:create-guacamole-device' pk=device.pk %}"
                       data-url="{% url 'plugins-api:containerlab-api:get-guacamole-clientid' pk=device.pk %}">
                       <i class="mdi mdi-console"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
            </table>
        </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Topology File {{ validate.valid | render_boolean }}</strong>
            <span class="config_hover_button" style="float: right">
                <button class="btn btn-inline btn-default hover_copy_button" data-clipboard-target="#clab-yaml">
                    <span class="mdi mdi-content-copy"></span>
                </button>
            </span>
        </div>
        <table class="table table-hover panel-body attr-table">
            {% if not validate.valid %}
            <tr>
                <td>
                    {% include 'extras/inc/json_data.html' with data=validate.error format="json" %}
                </td>
            </tr>
            {% endif %}
            <tr>
                <td>
                    <span id="clab-yaml">
                        {% include 'extras/inc/json_data.html' with data=object.generate_topology_file_dict format="yaml" %}
                    </span>
                </td>
            </tr>
        </table>
    </div>
    {% endwith %}
<script>
    document.querySelectorAll('.connect-icon').forEach(icon => {
        icon.addEventListener('click', function(event) {
            event.preventDefault(); // Prevent default link behavior
            const createUrl = this.getAttribute('data-create-url'); 
            const url = this.getAttribute('data-url'); 
            createAndRedirect(url, createUrl, "{{ csrf_token }}"); 
        });
    });
</script>

{% endblock content_right_page %}