
{% extends 'generic/object_retrieve.html' %}
{% load helpers %}

{% block content_left_page %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Topology</strong>
        </div>
        <table class="table table-hover panel-body attr-table">
            <tr>
                <td>Name</td>
                <td>
                    {{ object.name }}
                </td>
            </tr>
            <tr>
                <td>Description</td>
                <td>
                    {{ object.description|placeholder }}
                </td>
            </tr>
            <tr>
                <td>DynamicGroup</td>
                <td>
                    {{ object.dynamic_group | hyperlinked_object }}
                </td>
            </tr>
        </table>
    </div>
{% endblock content_left_page %}

{% block content_right_page %}
    {% with object.validate_topology_file as validate %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Topology File {{ validate.valid | render_boolean }}</strong>
        </div>
        <table class="table table-hover panel-body attr-table">
            {% if not validate.valid %}
            <tr>
                <td>
                    {% include 'extras/inc/json_data.html' with data=validate.error format="json" %}
                </td>
            </tr>
            {% endif %}
            <tr>
                <td>
                    {% include 'extras/inc/json_data.html' with data=object.generate_topology_file_dict format="yaml" %}
                </td>
            </tr>
        </table>
    </div>
    {% endwith %}
{% endblock content_right_page %}