ansible==8.2.0
ansible-builder==1.1.0
ansible-core==2.15.2
ansible-runner==2.2.0
certifi==2023.5.7
charset-normalizer==3.1.0
idna==3.4
Jinja2==3.1.2
MarkupSafe==2.1.2
networkx==3.1
prettytable==3.9.0
pynautobot==2.0.4
requests==2.31.0
toml==0.10.2
urllib3==1.26.16
pyyaml==6.0
python-slugify==8.0.1