---
- name: Wait for SSH to come up on host
  ansible.builtin.wait_for:
    host: "{{ item }}"
    port: 22
    delay: 3
    timeout: 120
    state: started
  delegate_to: localhost

- name: Add instance as host
  ansible.builtin.add_host:
    name: "clab-instance-{{ idx }}"
    ansible_host: "{{ item }}"
    groups: "cloud_instances"
  delegate_to: localhost

- name: Show instance public IP address
  ansible.builtin.debug:
    msg: "{{ item }}"
  delegate_to: localhost

- name: Add IP address to the list
  ansible.builtin.set_fact:
    server_ips: "{{ server_ips + [item] }}"
