---
# Deploy or teardown cloud infrastructure: -e state=present/absent
# Optional: Build and configure VM image (no to use preconfigured image): -e build=yes/no
# Optional: Upload and deploy ContainerLab topology: -e runclab=yes/no
# Arista cEOS image is downloaded from http://www.packetanglers.com/images/cEOS-lab-4.29.1F.tar.xz
- name: "CLOUD TERRAFORM"
  hosts: "localhost"
  connection: "local"
  collections:
    - community.general
  vars:
    terraform_dir: "terraform/aws"
  tasks:
    - name: "Validate vars"
      ansible.builtin.include_tasks:
        file: "tasks/validate_vars.yml"

    - name: Ensure Terraform directory exists
      ansible.builtin.file:
        path: "{{ terraform_dir }}"
        state: directory

    - name: Initialize Terraform
      community.general.terraform:
        project_path: "{{ terraform_dir }}"
        state: present
        force_init: true
      ignore_errors: true
      environment:
        TF_VAR_AWS_ACCESS_KEY: "{{ lookup('env', 'AWS_ACCESS_KEY_ID') }}"
        TF_VAR_AWS_SECRET_KEY: "{{ lookup('env', 'AWS_SECRET_ACCESS_KEY') }}"

    - name: "Deploy cloud infrastructure"
      ansible.builtin.include_role:
        name: "cloud_deploy"

    - name: Return values when deploying
      when: state == "present"
      block:
        - name: Set AWX Job ID
          ansible.builtin.set_fact:
            ansible_job_id: "{{ lookup('env', 'JOB_ID') }}"

        - name: Ensure ansible_job_id is defined
          ansible.builtin.assert:
            that: ansible_job_id is defined
            fail_msg: "The 'ansible_job_id' is not defined. Ensure that the playbook is being run within AWX."

        - name: Set SSH key path
          ansible.builtin.set_fact:
            ssh_key_file_path: "/runner/project/terraform/aws/.ssh/aws_clab"

        # - name: Set artifact directory
        #   ansible.builtin.set_fact:
        #     artifact_dir: "/var/lib/awx/jobs/{{ ansible_job_id }}/artifacts/{{ ansible_job_id }}"

        - name: Set artifact directory
          ansible.builtin.set_fact:
            artifact_dir: "/tmp/{{ ansible_job_id }}"

        - name: Slurp SSH file content
          ansible.builtin.slurp:
            src: "{{ ssh_key_file_path }}"
          register: ssh_private_key

        - name: Save SSH file content as artifact b64encode
          ansible.builtin.set_stats:
            data:
              ssh_private_key_b64encode: "{{ ssh_private_key.content }}"

        - name: Save SSH file content as artifact
          ansible.builtin.set_stats:
            data:
              ssh_private_key: >-
                {{ ssh_private_key['content'] | b64decode }} 

        # - name: Ensure artifact directory exists
        #   ansible.builtin.file:
        #     path: "{{ artifact_dir }}"
        #     state: directory
        #     mode: '0755'

        # - name: Move the file to the artifact directory
        #   ansible.builtin.command: "mv {{ ssh_key_file_path }} {{ artifact_dir }}/aws_clab"
        #   when: ansible_job_id is defined

        # - name: Save SSH key to the artifacts directory
        #   ansible.builtin.copy:
        #     src: "{{ ssh_key_file_path }}"
        #     dest: "{{ artifact_dir }}/aws_clab"


# - name: "CLOUD CONTAINERLAB INSTALL"
#   hosts: "all"
#   become: no
#   remote_user: "{{ CLOUD_SSH_USER_MAP[CLOUD] }}"
#   gather_facts: false
#   collections:
#     - community.docker
#   vars:
#     ansible_ssh_private_key_file: "terraform/{{ CLOUD | lower }}/.ssh/{{ CLOUD | lower }}_clab"
#   tasks:
#     - name: "Deploy ContainerLab to cloud"
#       when: state == "present"
#       ansible.builtin.include_role:
#         name: "containerlab"
